.post-form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #ededed;
  border-radius: 4px;
  margin-bottom: 50px;

  .post-body {
    max-height: 100px;
    overflow: hidden;
  }

  .post-form-footer {
    display: flex;
    justify-content: flex-end;
  }
}
