<form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="submitForm(formDirective)" class="post-comment-form">
  <!-- +++++ COMMENT FIELD +++++ -->
  <mat-form-field appearance="outline">
    <mat-label [textContent]="'COMMENTS.ADD_COMMENT' | translate"></mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [placeholder]="'COMMENTS.ADD_COMMENT_PLACEHOLDER' | translate"
      class="post-body"
      [formControlName]="controlNames.COMMENT"
    ></textarea>

    <button matSuffix mat-icon-button type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</form>
