.comment {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  background: #f8f8f8;
  position: relative;

  .user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  .comment-info {
    width: -webkit-fill-available;
    margin-left: 10px;

    .username {
      font-size: 14px;
      font-weight: bold;
    }

    .updated-at {
      font-style: italic;
    }

    .delete-post-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
