.main-content {
  padding: 20px;
}

.mat-drawer {
  width: 300px;
}

$toolbar-height: 64px;

.mat-toolbar {
  height: $toolbar-height;
  z-index: 10;
  box-shadow: 0 1px 8px 0px #aaaaaa;
}

.main-layout-container {
  border: none;
  height: 100%;
  width: 100%;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  position: sticky;
  top: 0;
}

.app-title {
  line-height: normal;
}
