<mat-drawer-container class="main-layout-container" [hasBackdrop]="hasBackdrop">
  <mat-drawer #drawer [mode]="mode" [opened]="opened">
    <app-profile-container></app-profile-container>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">Botmind Test</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Exit" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
