<div class="profile" *ngIf="!header">
  <img [src]="profileImage || placeholder" class="profile-image" [alt]="profile?.userName" />
  <div class="profile-info text-center">
    <!-- +++++ PROFILE INFO +++++ -->
    <div class="info">
      <h2 class="userName" [textContent]="profile?.userName"></h2>
      <p class="email" [textContent]="profile?.email"></p>
      <p class="name" [textContent]="profile?.name"></p>
    </div>

    <!-- +++++ PROFILE INFO +++++ -->
    <div class="actions">
      <!-- +++++ GO TO MY FEED +++++ -->
      <button
        *ngIf="!isUserFeed"
        mat-flat-button
        color="primary"
        [textContent]="'PROFILE.GO_TO_MY_FEED' | translate"
        (click)="gotToMyFeed()"
      ></button>

      <!-- +++++ SEE ALL POSTS +++++ -->
      <button
        *ngIf="isUserFeed"
        mat-flat-button
        color="primary"
        [textContent]="'PROFILE.GO_TO_ALL_POSTS' | translate"
        (click)="gotToAllPosts()"
      ></button>

      <!-- +++++ DELETE ACCOUNT +++++ -->
      <button
        mat-flat-button
        color="accent"
        [textContent]="'PROFILE.DELETE_PROFILE' | translate"
        (click)="openDeleteModal()"
      ></button>
    </div>
  </div>
</div>

<div class="profile" [ngClass]="{ header: profile }" *ngIf="header">
  <div class="profile-content">
    <img [src]="profileImage || placeholder" class="profile-image" [alt]="profile?.userName" />

    <!-- +++++ PROFILE INFO +++++ -->
    <div class="profile-info">
      <div class="info">
        <h2 class="userName" [textContent]="profile?.userName"></h2>
        <p class="email" [textContent]="profile?.email"></p>
        <p class="name" [textContent]="profile?.name"></p>
      </div>
    </div>
    <div class="description" [textContent]="profile?.description"></div>
  </div>

  <button
    mat-mini-fab
    color="accent"
    class="edit-desc-btn"
    [matTooltip]="'PROFILE.EDIT_PROFILE' | translate"
    (click)="editProfile()"
  >
    <mat-icon>description</mat-icon>
  </button>
</div>

<!-- +++++ EDIT PROFILE DESCRIPTION +++++ -->
<ng-template #editProfileDialog>
  <h1 mat-dialog-title [textContent]="'PROFILE.EDIT_MODAL.TITLE' | translate"></h1>
  <div mat-dialog-content>
    <form [formGroup]="form" #formDirective="ngForm" class="profile-form">
      <!-- +++++ TITLE FIELD +++++ -->
      <mat-form-field appearance="outline" class="mb10">
        <mat-label [textContent]="'PROFILE.EDIT_MODAL.IMAGE' | translate"></mat-label>
        <input matInput [formControlName]="inputNames.IMAGE" />
        <mat-error *ngIf="imageCtrl?.invalid && (imageCtrl?.dirty || imageCtrl?.touched)">
          <div
            *ngIf="imageCtrl?.hasError('required')"
            [innerHTML]="'PROFILE.EDIT_MODAL.IMAGE_REQUIRED' | translate"
          ></div>
        </mat-error>
      </mat-form-field>

      <!-- +++++ DESCRIPTION FIELD +++++ -->
      <mat-form-field appearance="outline" class="mb10">
        <mat-label [textContent]="'PROFILE.EDIT_MODAL.DESCRIPTION' | translate"></mat-label>
        <textarea
          matInput
          [placeholder]="'PROFILE.EDIT_MODAL.DESCRIPTION_PLACEHOLDER' | translate"
          [formControlName]="inputNames.DESCRIPTION"
        ></textarea>
        <mat-hint
          [align]="'end'"
          [textContent]="
            'POSTS.FORM.FIELD_MAX_LENGTH'
              | translate: { count: descriptionCtrl?.value?.length || 0, max: descMaxLength }
          "
        ></mat-hint>
        <mat-error *ngIf="descriptionCtrl?.invalid && (descriptionCtrl?.dirty || descriptionCtrl?.touched)">
          <div
            *ngIf="descriptionCtrl?.hasError('maxlength') && !descriptionCtrl?.hasError('required')"
            [innerHTML]="'PROFILE.EDIT_MODAL.DESCRIPTION_LENGTH' | translate: { count: descMaxLength }"
          ></div>
          <div
            *ngIf="descriptionCtrl?.hasError('required')"
            [innerHTML]="'PROFILE.EDIT_MODAL.DESCRIPTION_REQUIRED' | translate"
          ></div>
        </mat-error>
      </mat-form-field>

      <!-- +++++ MODAL FOOTER +++++ -->
      <div mat-dialog-actions class="d-flex flex-row justify-content-between edit-footer">
        <button mat-button [textContent]="'PROFILE.DELETE_MODAL.NO' | translate" (click)="closeModal()"></button>
        <button
          mat-raised-button
          color="primary"
          [textContent]="'UPDATE DESCRIPTION' | translate"
          (click)="submitProfile()"
        ></button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteAccountDialog>
  <h1 mat-dialog-title [textContent]="'PROFILE.DELETE_MODAL.TITLE' | translate"></h1>
  <div mat-dialog-content>
    <p [textContent]="'PROFILE.DELETE_MODAL.BODY' | translate"></p>
  </div>
  <div mat-dialog-actions class="d-flex flex-row justify-content-between">
    <button mat-button [textContent]="'PROFILE.DELETE_MODAL.NO' | translate" (click)="closeModal()"></button>
    <button
      mat-raised-button
      color="warn"
      [textContent]="'PROFILE.DELETE_MODAL.YES' | translate"
      (click)="deleteAccount()"
    ></button>
  </div>
</ng-template>
