@import '../../../../scss/variables.scss';

.user {
  background: #0b3a5d;
  position: relative;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 30px;

  .user-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .description {
      position: relative;
      font-size: 14px;
      font-style: italic;
      color: $white;
      margin: auto;
      max-width: 400px;
      text-align: center;
    }

    .user-image {
      margin: 0;
    }

    .user-info {
      margin-left: 20px;

      .userName {
        color: $white;
      }

      .email,
      .name {
        margin-bottom: 5px;
        color: $gray1;
      }
    }
  }

  .edit-desc-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .user-info {
    .userName {
      font-size: 30px;
    }

    .actions {
      margin-top: 30px;
      gap: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.edit-footer {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
